ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: relative;
    top: -4px;
   
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
    font-family: "Courier New", Courier, monospace;
}

li a:hover {
    background-color: #111;
}
#search{
	width: 20px;
	height: 15px;
}
#left{	
left:0px;
top:56px;
position:fixed;
height:600px;
width: 600px;
opacity: 0.05;
}

#mid{	
left:600px;
top:56px;
position:fixed;
height:600px;
width: 600px;
opacity: 0.05;
}
#right{	
left:1200px;
top:56px;
position:fixed;
height:600px;
width: 600px;
opacity: 0.05;
}
#rat{
	height: 200px;
	width: 200px;

}
#rat:hover { 
    opacity:0.5;
}

#recipeTable{
	width: 100%;
	font-size: 30px;
}
p{
	text-align: left;
	margin-left: 65px;
	margin-top:4px;
}
#press1{
	background-color: : black !important;
	width: 200px;
	height: 200px;
	position: absolute;
	top:60px;
	left:70px;
}
